html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}



img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
h1 {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 70px;
  font-family: Amaranth;
  font-weight: 700;
}
canvas {
  border: 1px solid black;
  display: block;
  padding: 0;
  background-color: #ccc;
  background-size: auto 100%;
  margin: auto;
  margin-top: 10px;
}

h3 {
  display: block;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-family: Amaranth;
  font-weight: 700;
}

ul {
  font-family: sans-serif;
  margin: auto;
  display: block;
  width: 600px;
}
